.card
{
    border-top:     2px solid var(--border-accent);
    border-left:    2px solid var(--border-accent);

    padding-left:   4px;

    display:        grid;
    grid-template-rows: 1.5em;

    gap:            8px;
}

.card.card-withside
{
    grid-template-columns: min-content auto;
}

.card-title
{
    padding-bottom: 4px;
    border-bottom:  1px solid var(--border-accent);
    
    width:          calc(100% - 32px);

    font-weight:    bold;

    text-transform: uppercase;

    margin-left:    -4px;
    padding-left:   4px;
}

.card.card-withside .card-title
{
    margin-left:    -8px;
}

.card-title > a,
.card-title > span
{
    text-decoration:    none;
    color:              var(--border-accent);
}

.card-image
{
    width:          120px;
    height:         180px;

    object-fit:     cover;

    border:         2px solid var(--border-accent);

    grid-row:       span 2;

    margin-top:     -8px;
    margin-bottom:  -8px;

    background:     white;
}
