:root
{
  /*
   *  Some of components set the width of the main application elements.
   *  This property makes sure that they all share the same width and they
   *  all align without any issues.
   */
  --main-width:     calc(100vw - 2rem);
  --main-width-max: 100%;

  /*
   *  The main background color of the application.
   */
  --main-background: white;
}

@media screen and (min-width: 1000px)
{
  :root
  {
    --main-width:     calc(100vw - 4rem);
  }
}

@media screen and (min-width: 1400px)
{
  :root
  {
    --main-width:     calc(100vw - 10rem);
  }
}

@media screen and (min-width: 2000px)
{
  :root
  {
    --main-width:     calc(100vw - 20rem);
  }
}

body
{
  background:   var(--main-background);
}