.frame-header
{
    padding:        .25rem 1rem;

    display:        grid;
    grid-template-columns: auto min-content;
    align-items:    baseline;
    gap:            3rem;

    position:       sticky;
    top:            0;

    background:     var(--main-background);
}

.frame-header > h1
{
    margin:         0;
    font-size:      1em;
    font-weight:    normal;
}

.frame-header > nav
{
    display:        grid;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    align-items:    center;
    gap:            1rem;
}
